/sistema-app/modules/siat
/sistema-app/libraries/mod_invoices
/sistema-app/libraries/mod_invoices____________________x
/sistema-app/libraries/Siat
/sistema-app/libraries/Siat______________________________x
/sistema-app/modules/notas______xxxxxxxxxxxxxxxx
/sistema-app/modules/notas.zip
/sistema-app/modules2222